<div class="menu">
  <a href="/view-posts">View Posts</a>
  <a href="/add-posts">Add a New Post</a>
  <!-- <form action="/signout" method="POST">
    <button type="submit" value="signout">Sign Out</button>
  </form> -->
</div>
